<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="gmp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <gmp.Properties.Settings>
            <setting name="TcpTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="TcpPort" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DbDatabase" serializeAs="String">
                <value>gmp</value>
            </setting>
            <setting name="DbUser" serializeAs="String">
                <value>gmp</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>qp351984</value>
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DbType" serializeAs="String">
                <value>mysql</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>D:\projects\gmp\Protocol.xml</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>GM/P Service</value>
            </setting>
            <setting name="ShowBlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowReceipt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreCRC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DbServer" serializeAs="String">
                <value>sdpg-1ctest01</value>
            </setting>
            <setting name="DbMinPoolSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DbMaxPoolSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DbConnectTimeout" serializeAs="String">
                <value>0</value>
            </setting>
        </gmp.Properties.Settings>
    </applicationSettings>
</configuration>
